
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<!--head-->
@await Html.PartialAsync("/Views/LayoutPartials/_HeaderPartial.cshtml")
<!-- //head -->

<body>
    <!--navbar-->
    @await Html.PartialAsync("/Views/LayoutPartials/_NavbarPartial.cshtml")
    <!-- //navbar -->

    @RenderBody()

    <!--footer-->
    @await Html.PartialAsync("/Views/LayoutPartials/_FooterPartial.cshtml")
    <!-- //footer-->

    <!--scripts-->
    @await Html.PartialAsync("/Views/LayoutPartials/_ScriptsPartial.cshtml")
    <!-- //scripts-->
</body>

</html>
