
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">BİZ KİMİZ ?</h6>
            <h3 class="hny-title">Dünyanın Her Yerinde Yeni Anılar Yaratmak İçin Seyahat Edin.</h3>
            <p class="py-3 mb-3">
                Traversal, seyahat tutkunları için özel ve unutulmaz tatil deneyimleri sunan bir tur rezervasyon platformudur. 20 yıldan fazla bir süredir sektörde faaliyet gösteren ekibimiz, seyahat endüstrisinde geniş bir deneyime sahiptir ve müşterilerimize en iyisini sunmak için çalışmaktadır.

                Misyonumuz, her müşterimize tatillerinde mükemmel bir deneyim yaşatmaktır. Bu nedenle, müşteri memnuniyeti bizim için önceliklidir. Her ayrıntıyı özenle planlayarak, seyahatlerini kusursuz hale getirmeye çalışırız. Müşterilerimizin beklentilerini aşmak için çaba gösteriyor ve onların tatil anılarını ömür boyu sürecek bir şekilde özel kılıyoruz.

                Geniş bir tur portföyüyle, her türden seyahat tutkunu için bir şeyler sunuyoruz. Aile tatillerinden romantik kaçamaklara, macera dolu aktivitelerden kültürel keşiflere kadar, herkesin tatil beklentilerini karşılamak için çeşitli seçenekler sunuyoruz.

                Traversal olarak, seyahatlerinizin keyifli, güvenli ve unutulmaz olmasını sağlamak için buradayız. Uzman seyahat danışmanlarımız, size en iyi tatil deneyimini yaşamanız için yardımcı olmak için her zaman hazırdır. Bizimle seyahat ettiğinizde, sadece bir rezervasyon yapmaz, aynı zamanda bir maceraya adım atarsınız.

                Bizi tercih ettiğiniz için teşekkür ederiz. Sizlere en iyi hizmeti sunmak için sabırsızlanıyoruz ve birlikte unutulmaz anılar yaratmayı umuyoruz.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="~/Traversal-Liberty/assets/images/banner3.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //about-6-->