
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<h2>Şehir - Ülke İşlemleri</h2>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-info">Şehir Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Şehir Getir</button>
<button type="button" id="btnaddcity" class="btn btn-outline-success">Şehir Ekle</button>
<button type="button" id="btndeletecity" class="btn btn-outline-danger">Şehir Sil</button>
<button type="button" id="btnupdatecity" class="btn btn-outline-warning">Şehir Güncelle</button>

<br /><br />
<div id="citylist">

</div>
<br />
<div>
    <input type="text" id="txtid" placeholder="Listelenecek şehir id değerini giriniz" class="form-control" />
</div>
<br />
<div id="destinationlistbyid">

</div>
<br />
<div>
    <input type="text" id="txtcityid" placeholder="Silinecek şehir id değerini giriniz" class="form-control" />
</div>
<br />
<div>
    <input type="text" id="txtcity" placeholder="Şehir adını giriniz" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Gün - Gece Sayısı" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Fiyat" class="form-control" />
    <br />
    <input type="text" id="txtimage" placeholder="Ana Görsel" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Konaklayacak kişi sayısı" class="form-control" />
    <br />
    <input type="text" id="txtcoverimage" placeholder="Kapak Görseli" class="form-control" />
    <br />
    <input type="text" id="txtimage2" placeholder="Görsel 2" class="form-control" />
    <br />
    <textarea id="txtdetails1" cols="30" rows="5" placeholder="Detay 1" class="form-control"></textarea>
    <br />
    <textarea id="txtdetails2" cols="30" rows="5" placeholder="Detay 2" class="form-control"></textarea>
    <br />
    <textarea id="txtdescription" cols="30" rows="5" placeholder="Açıklama" class="form-control"></textarea>
    <br />
</div>
<br />
<br />
<div>
    <input type="text" id="txtcityeditid" placeholder="Güncellenecek şehir id değerinin giriniz" class="form-control" />
    <br />    
    <input type="text" id="txteditcity" placeholder="Güncellenecek şehir adını giriniz" class="form-control" />
    <br />
    <input type="text" id="txteditdaynight" placeholder="Güncellenecek Gün - Gece Sayısı" class="form-control" />
    <br />
    <input type="text" id="txteditprice" placeholder="Güncellenecek Fiyat" class="form-control" />
    <br />
    <input type="text" id="txteditimage" placeholder="Güncellenecek Ana Görsel" class="form-control" />
    <br />
    <input type="text" id="txteditcapacity" placeholder="Güncellenecek konaklayacak kişi sayısı" class="form-control" />
    <br />
    <input type="text" id="txteditcoverimage" placeholder="Güncellenecek Kapak Görseli" class="form-control" />
    <br />
    <input type="text" id="txteditimage2" placeholder="Güncellenecek Görsel 2" class="form-control" />
    <br />
    <textarea id="txteditdetails1" cols="30" rows="5" placeholder="Güncellenecek Detay 1" class="form-control"></textarea>
    <br />
    <textarea id="txteditdetails2" cols="30" rows="5" placeholder="Güncellenecek Detay 2" class="form-control"></textarea>
    <br />
    <textarea id="txteditdescription" cols="30" rows="5" placeholder="Güncellenecek Açıklama" class="form-control"></textarea>
    <br />
</div>
<br />

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr> <th> Şehir Adı </th> <th> Gün-Gece </th> <th> Fiyatı </th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td><td>${value.DayNight}</td><td>${value.Price} ₺</td></tr>`;
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    });

    $("#btnaddcity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val(),
            Image:$("#txtimage").val(),
            Description: $("#txtdescription").val(),
            CoverImage: $("#txtcoverimage").val(),
            Details1: $("#txtdetails1").val(),
            Details2: $("#txtdetails2").val(),
            Image2:$("#txtimage2").val(),
        };
        $.ajax({
            type: "Post",
            url: "/Admin/City/AddCityDestination/",
            data:cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Eklendi");
            }
        });
    });

    $("#btngetbyid").click(x => {
        let id = $("#txtid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/GetById/",
            data: {DestinationID:id},
            success: function (func) {
                let result = jQuery.parseJSON(func);
                console.log(result);
                if (result) {
                    // Destination found, display the result
                    let tablehtml = "<table class=table table-bordered> <tr> <th> Şehir Adı </th> <th> Gün-Gece </th> <th> Fiyatı </th> </tr>" +
                        `<tr><td>${result.City}</td><td>${result.DayNight}</td><td>${result.Price} ₺</td></tr> </table>`;
                    $("#destinationlistbyid").html(tablehtml);
                } else {
                    // No destination found, display a message
                    $("#destinationlistbyid").html("<p>Böyle bir şehir bulunamadı.</p>");
                }
            },
            error: function () {
                // Handle error if the AJAX request fails
                $("#destinationlistbyid").html("<p>Bir hata oluştu.</p>");
            }
        });
    });

    $("#btndeletecity").click(x => {
        let id = $("#txtcityid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Post",
            url: "/Admin/City/DeleteCityDestination/"+id,
            data: { DestinationID: id },
            success: function (func) {
                alert("Şehir - Rota Başarılı Bir Şekilde Silindi");
            },
        });
    });

    $("#btnupdatecity").click(function () {
        let updatedcityvalues = {
            DestinationID:$("#txtcityeditid").val(),
            City: $("#txteditcity").val(),
            DayNight: $("#txteditdaynight").val(),
            Price: $("#txteditprice").val(),
            Capacity: $("#txteditcapacity").val(),
            Image: $("#txteditimage").val(),
            Description: $("#txteditdescription").val(),
            CoverImage: $("#txteditcoverimage").val(),
            Details1: $("#txteditdetails1").val(),
            Details2: $("#txteditdetails2").val(),
            Image2: $("#txteditimage2").val(),
        };
        $.ajax({
            type: "Post",
            url: "/Admin/City/UpdateCityDestination/",
            data: updatedcityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Güncellendi");
            }
        });
    });

</script>